body {
	background: url(../img/background_body.png) repeat-x;
	 /*background-attachment:fixed;*/
}

* {
	margin: 0;
	padding: 0;
}

.wrapper {
	/*position: absolute;*/
   /* top: 0;
    left: 174px;*/
    width: 1000px;
	height: 994px;
	border: 0px;
	z-index: 1;
	margin: 0 auto;
 }

.wrapper1 {
	/*left: 0px;
	bottom: 30px;
	position: absolute;*/
	width: 1000px;
	height: 967px;
	-webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.47);
	box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.47);
	z-index: 2;
	margin: 0 auto;
}

.general_page {
	width: 1000px;
	margin: 0 auto;
	background: white;
	box-sizing: border-box;
}

header {
	margin-top: 0px;
	width: 1000px;
	height: 175px;
	background-color: white;
}

.logo_asia {
	position: absolute;
	background-image: url(../img/logo_asia.png);
	position: absolute;
	left: 206px;
	top: 12px;
	width: 283px;
	height: 164px;
	z-index: 3;
}

.tur_asia_text {
 	position: absolute;
 	top: 98px;
 	left: 73px;
 	width: 120px;
 	height: 18px;
 	font-size: 12px;
	font-family: "Tahoma";
	color: rgb(18, 138, 167);
	z-index: 1;
}

/*Шапка контактной информаци: "Наши контакты:"*/
.contact_info {
	width: 470px;
	height: 65px;
	line-height: 1.5;
	font-weight: 600;
}

.wrapper_of_contacts {
	position: relative;
	right: 180px;
}

.contacts {
	position: absolute;
	left: 857px;
	top: 0px;
	width: 470px;
	height: 28px;
	font-size: 40px;
	font-family: "Tahoma";
	color: rgba(18, 138, 167, 0.8);
	-moz-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
	-webkit-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
	-ms-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
}

.contacts ul {
	list-style: none;
}

.wrapper-flags {
	position: relative;
	// left: 200px;
	right: 180px;
}
/*Иконки стран*/
.flags {
 	position: absolute;
 	top: 110px;
 	left: 746px;
 	width: 430px;
 	height: 67px;
  	list-style: none;
  	z-index: 2;
}

.flags li {
	width: 42px;
	height: 42px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

 .flags img {
 	position: absolute;
 	width: 42px;
 	height: 42px;
 	border: 0;
}

.flags span {
	display: inline-block;
 	padding-top: 43px;
 	font-size: 10px;
  	font-family: "Tahoma";
  	color: rgb(18, 138, 167);
  	vertical-align: top;
  	text-decoration: underline;
}

.flags .text1 {
 	margin-left: 6px;
}

.flags .text2 {
	width: 54px;
	margin-left: -5px;
 }

.flags .text3 {
 	width: 50px;
 	margin-left: 0px;
}
 	
.conteiner:after {
	width: 1000px;
	height: 236px;
	margin: 0 auto;
	clear: both;
}
	
.conteiner {
	width: 1000px;
	height: 236px;
}

img {
	 margin-top: 0px;
	 margin-left: 183px;
	 margin-bottom: -18px;
	  width: 1000px;
	  height: 235px;
	  margin: 0 auto;
	  box-sizing: content-box;
	  border-top: solid 1px;
	  border-bottom: solid 1px;
	  border-color: #128aa7;
}

.panel {
	position: absolute;
	width: 1000px;
	height: 32px;
	border-top: solid 1px;
	border-top-color: #cacbcb;
	border-bottom: solid 1px;
	border-bottom-color: #000000;
	background: -moz-linear-gradient(top,  #373737 0%, #373737 100%);
	background: -webkit-linear-gradient(top,  #373737 0%,#373737 100%);
	background: linear-gradient(to bottom,  #303030 0%,#303030 100%);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.44);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.44);
    z-index: 2;
}

.white_triangles {
	position: absolute;
	top: 12px;
	left: 268px;
	width: 247px;
	height: 8px;
	border: 0;
}

/*НАЧАЛО ОБЫЧНОГО И ВЫПАДАЮЩЕГО МЕНЮ*/	/*НАЧАЛО ОБЫЧНОГО И ВЫПАДАЮЩЕГО МЕНЮ*/

ul.submenu {
 	position: absolute;
    display: none;
    margin-top: 3px;
    padding-left: 10px;
    width: 150px;
   	height: 125px;
   	list-style: none;
    background: #303030;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 2;
}

ul.submenu a {
	text-decoration: none;
	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 1.714;
  }

/*Обычное меню*/
li.menu1 {
 	position: absolute;
 	top: 0;
 	left: 65px;
 	width: 50px;
 	list-style: none;
	padding: 0px;
 	z-index: 1;
 }

 li.menu1 a {
 	text-decoration: none;
 	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
 	display: inline-block;
}

li.menu2 {
 	position: absolute;
 	top: 0;
 	left: 576px;
 	width: 115px;
 	list-style: none;
	padding: 0px;
 	z-index: 1;
}

li.menu2 a {
 	text-decoration: none;
 	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
 	display: inline-block;
 }

li.menu3 {
 	position: absolute;
 	top: 0;
 	left: 765px;
 	width: 37px;
 	list-style: none;
	padding: 0px;
 	z-index: 1;
 }

li.menu3 a {
 	text-decoration: none;
 	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
  	display: inline-block;
}

li.menu4 {
 	position: absolute;
 	top: 0;
 	left: 872px;
 	width: 63px;
 	list-style: none;
	padding: 0px;
 	z-index: 1;
}

li.menu4 a {
	text-decoration: none;
	font-size: 14px;
	font-family: "Tahoma";
	color: rgb(255, 255, 255);
	line-height: 2.2;
	display: inline-block;
}
 /*Конец обычного меню*/

 /*Выпадающее меню*/
.active1 {
 	position: absolute;
 	left: 175px;
	width: 84px;
	height: 40px;
	list-style: none;
}

.active1 > a {
 	text-decoration: none;
 	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
}

.active2 {
 	position: absolute;
 	left: 323px;
	width: 50px;
	height: 40px;
	list-style: none;
}

.active2 > a {
 	text-decoration: none;
 	font-size: 14px;
 	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
}

 .active3 {
 	position: absolute;
 	left: 433px;
	width: 100px;
	height: 40px;
	list-style: none;
}

.active3 > a {
 	text-decoration: none;
 	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(255, 255, 255);
  	line-height: 2.2;
}

.active1:hover .submenu {
	display: block;
}

.active2:hover .submenu {
	display: block;
}

.active3:hover .submenu {
	display: block;
}
/*Конец выпадающего меню*/

/*КОНЕЦ ОБЫЧНОГО И ВЫПАДАЮЩЕГО МЕНЮ*/	/*КОНЕЦ ОБЫЧНОГО И ВЫПАДАЮЩЕГО МЕНЮ*/	

.content {
	position: absolute;
	top: 445px;
	margin-right: 183px;
	margin-left: 7px;
	background-color: white;
	margin: 0 auto;
	width: 1000px;
	height: 522px;
	overflow: hidden;
	z-index: 1;
}

.block1 {
	float: left;
	width: 21%;
	height: 600px;
	padding-top: 12px;
	padding-left: 0;
	padding-right: 0;
	border-right: solid 1px;
	border-color: #c7cacf;
	/*overflow: hidden;*/
	background-color: #edeef0;
}

h3 {
	width: 210px;
	height: 15px;
	font-size: 18px;
	font-family: "Tahoma";
	color: rgb(66, 76, 67);
	margin-bottom: 15px;
	text-align: center;
	font-weight: 600;
}

.block2 {
	float: right;
	width: 21%;
	height: 600px;
	padding-top: 12px;
	padding-left: 0;
	padding-right: 0;
	border-left: solid 1px;
	border-color: #c7cacf;
	/*overflow: hidden;*/
	background-color: #edeef0;
}

/*.block2 {
	width: 210px;
	height: 15px;
  	font-size: 18px;
  	font-family: "Tahoma";
  	color: rgb(66, 76, 67);
  	margin-bottom: 15px;
  	text-align: center;
  	font-weight: 600;
}*/

p {
	display: block;
	margin-right: 25px;
	margin-left: 15px;
	font-size: 14px;
  	font-family: "Tahoma";
  	color: rgb(66, 76, 67);
  	line-height: 2;
	/*overflow: hidden;*/
}

footer {
	position: absolute;
	left: 330px;
	top: 958px;
  	font-size: 40px;
	font-family: "Tahoma";
	color: rgba(255, 255, 255, 0.8);
	text-align: left;
    -moz-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
	-webkit-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
	-ms-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
}